.parent{
    width:100%;
    display: flex; 
    gap:20px;   
    flex-wrap: wrap;
}
.card{
    width:300px;
    height:200px;  
    border-radius: 25px;
    border:1px solid black;
    box-shadow: 5px 5px 15px rgba(31, 30, 30, 0.6);
    gap:20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.image{
    width:100px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;

}
.cart{
    width:150px;
    height:40px;
    background-color: rgb(249, 246, 246);
    color:black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 10px;
}
.cart:hover{
    background-color: black;
    color:white;
    border: 1px solid white;
    transform: scale(1.05);
    transition: 0.3s;

}